<% title 'Api Correios' %>

<div class="row">
  <div class="col-6">
    <span class="d-flex justify-content-center"> Buscar código de rastreio: </span>
    <div class="card d-flex justify-content-center mt-2">
      <input class="form-control" id="tracking_number" placeholder="Num pedido correios">
      <button class="btn btn-dark text-secondary"id="search_button"><i id="loading" class="fa-regular fa-compass"></i></button>
    </div>
    <div class="card d-flex justify-content-center">
      <div class="badge bg-secondary text-info mt-2 d-flex justify-content-center fs-5" id="tracking_result"></div>
    </div>
  </div>
  <div class="col-6">
    <span class="d-flex justify-content-center"> Buscar estoque de item: </span>
    <div class="card d-flex justify-content-center mt-2">
      <input class="form-control" id="item_code" placeholder="Código Estoque">
      <button class="btn btn-dark text-secondary"id="search_button_stock"><i id="loading-stock" class="fa-regular fa-compass"></i></button>
    </div>
    <div class="card d-flex justify-content-center">
      <div class="badge bg-secondary text-info mt-2 d-flex justify-content-center fs-5" id="stock_result"></div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#search_button').click(function() {
      var trackingNumber = $('#tracking_number').val();
      $('#loading').addClass('fa-spin');
      $.ajax({
        url: '<%= tracking_dashboard_index_path %>',
        type: 'GET',
        data: { tracking_number: trackingNumber },
        dataType: 'json',
        success: function(response) {
          if (response[0]) {
            $('#tracking_result').html(response[0]['codigoObjeto']);
          } else {
            $('#tracking_result').html('Nenhum resultado encontrado.');
          }
          $('#loading').removeClass('fa-spin');
        },
        error: function() {
          $('#tracking_result').html('Erro ao buscar informações de rastreamento.');
        }
      });
    });
  });

  $(document).ready(function() {
    $('#search_button_stock').click(function() {
      var item_code = $('#item_code').val();
      $('#loading-stock').addClass('fa-spin');
      $.ajax({
        url: '<%= stock_dashboard_index_path %>',
        type: 'GET',
        data: { item_code: item_code },
        dataType: 'json',
        success: function(response) {
          console.log(response)
          if (response) {
            $('#stock_result').html(JSON.stringify(response));
          } else {
            $('#stock_result').html('Nenhum resultado encontrado.');
          }
          $('#loading-stock').removeClass('fa-spin');
        },
        error: function() {
          $('#stock_result').html('Erro ao buscar informações de estoque.');
        }
      });
    });
  });
</script>