.navbar-header {
  background-color: #ffffff;
  opacity: 1;
  height: 52px;
  width: 100%;
  min-width: 768px;
  z-index: 1011;
}

@media only screen and (min-width: 768px) {
  .navbar-header {
    position: fixed;
  }
}
.brand-logo {
  background: #1b2834;
}
.navbar-header .navbar-brand {
  float: left;
  display: inline-block;
  background: #fff;
  padding: 0;
  width: 250px;
  margin: 0;
}
.navbar-header .navbar-brand .brand-logo {
  height: 52px;
  width: 250px;
}
.navbar-header .navbar-brand .brand-logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}
.navbar-header .navbar-content {
  display: inline-block;
  float: left;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 23px;
}
.navbar-header .navbar-dropdowns {
  float: right;
  max-width: 14em;
}
.navbar-header .navbar-dropdowns .navbar {
  padding: 14px;
}
.navbar-header .navbar-dropdowns .user-settings > a {
  padding: 5px 20px;
  background: #056292;
  color: #fff;
}
.navbar-header .navbar-dropdowns .user-settings > a:hover {
  background: #015480;
}
.navbar-header .navbar-dropdowns .user-settings > a:after {
  border: 0;
  clear: both;
  display: block;
}
.navbar-header .navbar-dropdowns .user-settings > a > .user-info {
  float: left;
}
.navbar-header .navbar-dropdowns .user-settings > a > .user-info p {
  margin: 0;
}
.navbar-header .navbar-dropdowns .user-settings > a > .user-info .user-context {
  font-size: 10px;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-toggle > .user-photo {
  float: right;
  margin-left: 10px;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-toggle > .user-photo {
  float: right;
  margin-left: 10px;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-toggle > .user-photo > img {
  border-radius: 50%;
  height: 32px;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu .user-photo {
  background-color: #888;
  height: 100px;
  margin-left: 20px;
  width: 100px;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu .user-photo > img {
  height: 98px;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu .user-info {
  position: relative;
  margin: 10px 0 20px 0;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu .user-info p {
  margin: 0;
  line-height: 18px;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu .user-info p small {
  font-size: 12px;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu .dropdown-item {
  font-size: 13px;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu .user-photo {
  background-color: #FFF;
  height: 100px;
  margin-left: 0;
  width: 100px;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu .user-photo img {
  margin: 0 auto;
  border: 2px solid #ddd;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu .dropdown-divider {
  margin: 5px 0;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu div:hover {
  background: transparent;
  color: #333 !important;
}
.navbar-header .navbar-dropdowns .user-settings > .dropdown-menu a:hover {
  background-color: #038ed3;
  color: #fff;
}
.navbar-header .navbar-dropdowns .user-notifications > a {
  color: #fff;
  height: 45px;
  padding: 12px 20px;
  text-align: center;
  font-size: 14px;
}
.navbar-header .navbar-dropdowns .user-notifications > a > .fa {
  font-size: 16px;
}
.navbar-header .navbar-dropdowns .user-notifications.show > a,
.navbar-header .navbar-dropdowns .user-notifications > a:hover {
  background-color: #015480;
}
.navbar-header .navbar-dropdowns .user-notifications > .dropdown-toggle::after {
  display: block;
  border: 0;
  margin: 0;
}
.navbar-header .navbar-dropdowns .user-notifications > .dropdown-menu > .dropdown-header {
  color: #777;
  text-shadow: none;
  padding: 3px 15px;
  margin-top: -8px;
  line-height: 34px;
  font-size: 13px;
  font-weight: 700;
  text-transform: none;
}
.navbar-header .navbar-dropdowns .user-notifications > .dropdown-menu > .dropdown-header a {
  display: inline-block;
  border-bottom: 0;
  text-align: right;
  font-weight: normal;
}
.navbar-header .navbar-dropdowns .user-notifications > a .notificacao-icon {
  text-shadow: 1px 1px 2px #555;
}
.navbar-header .navbar-dropdowns .user-notifications > .dropdown-menu > .dropdown-item > a {
  color: #555;
  padding: 6px 0;
  display: block;
}
.navbar-header .navbar-dropdowns .user-notifications > .dropdown-menu > .dropdown-item > a > em {
  font-size: 11px;
}
.navbar-header .navbar-dropdowns .user-notifications > .dropdown-menu > .dropdown-item > a:hover {
  text-decoration: none;
}
.navbar-header .navbar-dropdowns .user-notifications > .dropdown-menu > .dropdown-footer {
  padding: 6px 15px;
  text-align: center;
}
.navbar-header .navbar-dropdowns .user-notifications > .dropdown-menu > .dropdown-footer > a {
  text-align: center;
  border-bottom: 0;
}
a {
  text-decoration: none;
}
li > a {
  text-decoration: none;
}