.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
.wrapper > section {
  padding: 15px 20px;
}
.wrapper > section:not(.sem-menu) {
  margin-left: 250px;
}
@media only screen and (min-width: 768px) {
  .wrapper > section {
    margin-top: 45px;
  }
}
.wrapper > section > .content-wrapper .row {
  margin-top: 10px;
  margin-bottom: 10px;
}
