<section>
  <div class="content-wrapper text-light">
    <div id="modal-holder"></div>
    <% if controller.controller_name != 'sessions' %>
      <%= render 'layouts/partials/messages' %>
    <% end %>
    <%= yield %>
  </div>
</section>
