<header class="navbar-header">
  <div class="navbar-brand">
    <div class="brand-logo" style="background: black;">
      <div class="badge bg-primary d-flex justify-content-center" 
      style="font-size: 17px; padding: 13px;">
        Água na Caixa - Painel
      </div>
    </div>
  </div>
  <div class="navbar-content">
    <%= yield :title %>
  </div>
  <div class="navbar-dropdowns">
    <nav class="navbar navbar-expand-sm">
      <div class="dropdown" style="margin-top: 7px; margin-right: -12em;">
        <%= image_tag 'admin/usuario-200x200', style: 'width:10%; border-radius: 50%;' %>
        <strong><%= current_user.name %></strong>
        <%= link_to destroy_user_session_path(current_user), data: { turbo: :false } do %>Sair<% end %>
      </div>
    </nav>
  </div>
</header>